/*
                                                                   بسم الله الرحمن الرحيم                                                               
Created by: SALAH MOHAMED

*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  position: relative;
 
 
}

/*

                           header ends
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________                   

                            main begins

*/

main {
  width: 100%;
  margin: 0 auto;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

iframe {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
  border: 0;
}
