/*
                                                                   بسم الله الرحمن الرحيم                                                               
Created by: SALAH MOHAMED

*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Cairo", sans-serif;
  color: black;
  -webkit-text-fill-color: black;
  
  
}

/*
_______________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________                   

                            main begins

*/

main {
  width: 100%;
}

.backBtn {
  width: 100%;
  display: flex;
  justify-content: start;
}

.backBtn img {
  padding-left: 15px;
  color: black;
  cursor: pointer;

  transition: all 0.5s ease;
}

.backBtn img:hover {
  transform: scale(1.2);
}

/*

                           hero ends
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________                   

                            about us begins

*/

.about {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.about__desc {
  padding: 2rem;
}

.about__text {
  text-align: justify;
}
/*




                           about us ends
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________
____________________________________________________________________________________                   

                            scroll to top button begins

*/
